
html
    head

        link(rel="stylesheet", type="text/css", href="/css/simple-sidebar.css")
        //[if lt IE 9]

        //[endif]
    body

        #wrap
            div(class="sidebar-nav")
                div(id="sidebar-wrapper")
                    li(class="sidebar-brand")
                        a(href="#") Name
                            li.active
                                a(href="#") My Wallet
                            li
                                a(href="#balance") Balance
                            li
                                a(href="#recipients") Recipients
                            li
                                a(href="#addReceipts") Add Receipts
                            li
                                a(href="#transfer") Transfer


