extends layout

block content
  h1 Visa Miles
  p.lead Select your trip with Visa Sky Miles
  hr
  .row
    .col-sm-6
      h2 American Airlines
      p Travel with American Airlines
    .col-sm-6
      h2 SouthWest Airlines
      p Travel with Southwest
  .row
      .col-sm-6
        p
        p
          a.btn.btn-primary(href='/showBalance', role='button') 9000 »
      .col-sm-6
        p
        p
          a.btn.btn-primary(href='/showBalance', role='button') 1000 »
         // a.btn.btn-primary(href='/showBalance', role='button') Show Balance »
  .row
      .col-lg-8
      h2 Transfer Miles
  .form-group
    .col-xs-2
      input.form-control.col-xs-2(type='miles', name='miles', id='miles', placeholder='Miles')
  .row

    .col-xs-2

        a.btn.btn-success(href='/showBalance', role='button') Checkout with Miles


  //    h2 Visa Coin
  //    p Use a Visa Coin
  //    p
  //      a.btn.btn-primary(href='/showBalance', role='button') Show MyBalance »
  //  .col-sm-6
  //    p
  //    p
  //      a.btn.btn-primary(href='/checkout', role='button') GO with American Airlines »
  //.row
  //  .col-sm-6
  //    h2 Delta Airlines
  //    p Travel with Delta Airlines
  //  .col-sm-6
  //     p
  //     p
  //      a.btn.btn-primary(href='#', role='button') GO with Delta Airlines»
    .row
    .col-sm-6
    .col-sm-6
        a.btn.btn-success(href='/checkout', role='button') Visa Checkout »
        img.img-rounded.logo(src='../views/visa_checkout.png')
