extends layout

block content
  h1 Visa Miles
  p.lead Select your trip with Visa Sky Miles
  hr
  .row
    .col-sm-6
      h2 American Airlines
      p Travel with American Airlines
    .col-sm-6
      p
      p
        a.btn.btn-primary(href='#', role='button') GO with American Airlines »
  .row
    .col-sm-6
      h2 Delta Airlines
      p Travel with Delta Airlines
    .col-sm-6
       p
       p
        a.btn.btn-primary(href='#', role='button') GO with Delta Airlines»
  .row
    .col-sm-6
      h2 Southwest Airlines
      p Travel with Southwest Airlines
    .col-sm-6
      p
      p
        a.btn.btn-primary(href='#', role='button') GO with Southwest Airlines »
  .row
    .col-sm-6
    .col-sm-6
        a.btn.btn-success(href='#', role='button') Visa Checkout »
