extends layout

block content
  h1 Visa Coins
  p.lead Buy / Sell Visa Coins at ease
  hr
  .row
    .col-sm-6
      h2 Visa Coin
      p Use a Visa Coin
      p
        a.btn.btn-primary(href='/showBalance', role='button') Show MyBalance »
    .col-sm-6
      h2 Buy Coins
      p Push your funds
      p
        a.btn.btn-primary(href='#', role='button') Buy »
    .col-sm-6
      h2 Sell Coins
      p Pull funds
      p
        a.btn.btn-primary(href='#', role='button') Sell »
    .col-sm-6
      h2 Get History
      p List transactions
      p
        a.btn.btn-success(href='#', role='button') List »
    .col-sm-6
      h2 Visa Checkout
      p Checkout
      p
        a.btn.btn-success(href='#', role='button') View details »
    .col-sm-6
      h2 Check current exchange rate
      p Exchange Rate
      p
        a.btn.btn-success(href='#', role='button') Exchange details »